*.d
Makefile
.depends
solution.xml
transport_log.xml
LiKCl_PorousBat
PorousLiKCl.dat
SurDomain1D.dat
BulkDomain1D_0.dat
BulkDomain1D_1.dat
BulkDomain1D_2.dat
SurDomain1D_0.dat
SurDomain1D_1.dat
SurDomain1D_2.dat
SurDomain1D_3.dat
out.txt
timeDep_IV.dat
tmp
diff_out.txt
diff_xml.txt
err_out.txt
outa.txt
.nfs*
LiKCl_PorousBat.TVD.v3breakpoints
out_10.txt
out_10_new.xml
out_10_old.txt
out_new.txt
solution_10_new.xml
solution_10_old.xml
tecplot.phy
*.wmf
*.sty
*.lay
*.lpk
*.tif
FeS2_globalResults.csv
FeS2_intResults.csv
commit.log

