Makefile
*.d
.depends
LiKCl_infPlateBat
LiKCl_infPorousBat
.nfs*
transport_log.xml
LiKCl_infPlateBat.TVD.v3breakpoints
solution.xml
tmp
m1d_SDT_FlatAnode.cpp
m1d_SDT_FlatAnode.h
m1d_SDT_FlatCathode.cpp
m1d_SDT_FlatCathode.h
m1d_SurDomain_FlatFeS2Cathode.cpp
m1d_SurDomain_FlatFeS2Cathode.h
m1d_SurDomain_FlatLiSiAnode.cpp
m1d_SurDomain_FlatLiSiAnode.h
PorousLiKCl.dat
SurDomain1D.dat
out.txt
BulkDomain1D_0.dat
BulkDomain1D_1.dat
BulkDomain1D_2.dat
SurDomain1D_0.dat
SurDomain1D_1.dat
SurDomain1D_2.dat
SurDomain1D_3.dat
timeDep_IV.dat
results.out

