AtoB_1
*.d
Makefile
.depends
FeS2_globalResults.csv
FeS2_globalResults_0_0.csv
FeS2_intResults.csv
FeS2_intResults_0_0.csv
diff_csv.txt
diff_dout.txt
diff_out.txt
dout.txt
err_out.txt
out.txt
outfile.dat
vcs_equilibrate_res_1.csv


InterfacialMassTransfer_globalResults_0_0.csv
InterfacialMassTransfer_intResults_0_0.csv
