Makefile
*breakpoints
runGood
runBad
runInProgress.txt
Capacity_Starting.dat
runtest
solution_multiBulk.dat
diff_summary.txt
out_raw.txt
.nfs*
stepwiseElectricalOutput.txt
stepwiseHeatSource.txt
timeDep_IV.dat
accumulatedElectricalOutput.txt
accumulatedHeatSource.txt
SurDomain1D_*.dat
BulkDomain1D_*.dat
diff_IV.txt
diff_b0.txt
diff_b1.txt
diff_b2.txt
diff_out.txt
diff_s0.txt
diff_s3.txt
diff_xml.txt
err_out.txt
solution.xml
LiIon_PorousBat

